*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: blueviolet;
}
.div1 {
  text-align: center;
}
ol {
  list-style-type: none;
}
#txt {
  width: 30%;
  height: 30px;
  border: 2px solid blue;
  border-radius: 20px;
  font-size: 20px;
}
.btn {
  border: none;
  height: 30px;
  width: 10%;
  border-radius: 20px;
  background-color: violet;
  margin-left: 10px;
  font-size: 16px;
}
li {
  font-size: 25px;
  padding: 10px;
  margin: 10px;
}
